*{
	margin:0;
	padding:0;
	border:0;}
.clear{
	height:0px;
	font-size:0;
	clear:both;
	overflow:hidden;}
body{
	width:100%;
	height:auto;
	background:#EBEBEB;}
.body{
	width:1200px;
	height:auto;
	margin:0 auto;
	background:#fff;}
.head1{
	height:79px;
	padding-bottom:35px;
	border-bottom:1px solid #E5E5E5;}
.head1_left{
	float:left;
	padding-left:58px;
	padding-top:35px;}
.head1_right{
	float:right;
	padding-right:35px;
	font-family:"Microsoft YaHei";
	font-size:19px;
	color:#444444;
	padding-top:33px;}
.head1_right .img1{
	position:relative;
	top:8px;}
.head1_right .img2{
	position:relative;
	top:4px;}
.nav{}
.nav ul{
	text-align:center;
	width:1116px;
	height:60px;
	margin:0 auto;
	line-height:60px;}
.nav ul li{
	width:124px;
	text-align:center;
	list-style:none;
	float:left;}
.nav ul li a{
	width:124px;
	display:block;
	font-family:"Microsoft YaHei";
	font-size:18px;
	color:#444444;
	text-decoration:none;}
.nav ul li a:hover{
	background:#018754;
	color:#fff;}
.banner{
	width:1200px;
	height:507px;}

#content{
	width:1138px;
	margin:0 auto;
	padding-top:35px;}
.content_1{
	border-bottom:1px solid #E5E5E5;}
.content1,.content2,.content3{
	float:left;
	width:330px;
	height:245px;
	margin-right:40px;}
.content1_1_left,.content2_1_left,.content3_1_left{
	float:left;
	width:54px;}
.content1_1_right,.content2_1_right,.content3_1_right{
	width:252px;
	height:205px;
	float:right;
	position:relative;}
.content1_1_right h5,.content2_1_right h5,.content3_1_right h5{
	font-family:"Microsoft YaHei";
	font-size:20px;
	color:#444444;
	font-weight:normal;
	line-height:30px;
	padding-bottom:23px;}
.content1_1_right p,.content3_1_right p{
	font-family:"Microsoft YaHei";
	font-size:14px;
	color:#808080;
	line-height:24px;}
.content1_1_right .a1,.content2_1_right .a1,.content3_1_right .a1{
	display:block;
	width:110px;
	height:33px;
	line-height:33px;
	font-family:"微软雅黑";
	font-size:14px;
	color:#fff;
	text-decoration:none;
	border-radius:5px;
	position:absolute;
	bottom:0;
	left:0;
	background:#EF7800 url(../web5/ico_1.png) no-repeat 88px center;}
.content1_1_right .a1 span,.content2_1_right .a1 span,.content3_1_right .a1 span{
	padding-left:15px;}
.content2_1_right .ul_1{}
.content2_1_right .ul_1 li{
	list-style:none;}
.content2_1_right .ul_1 li a{
	font-family:"Microsoft YaHei";
	font-size:14px;
	color:#808080;
	line-height:24px;
	text-decoration:none;}
.content_2{
	border-bottom:1px solid #E5E5E5;}
.content4{
	height:68px;
	line-height:68px;}
.content4_left{
	float:left;}
.content4_left span{
	margin-left:15px;
	font-family:"Microsoft YaHei";
	font-size:20px;
	color:#444444;
	border-bottom:1px solid #5AC39D;}
.content4_right{
	float:right;}
.content4_right a{
	font-family:"Microsoft YaHei";
	font-size:14px;
	color:#676767;
	padding-right:7px;
	text-decoration:none;}

#foot{
	width:1138px;
	margin:0 auto;
	margin-top:45px;
	border-top:2px solid #00A86D;}
.foot{
	width:983px;
	margin:0 auto;
	padding-top:25px;
	padding-bottom:20px;}
/**************************danyeshow***********************/
#danyeshow{
	width:1112px;
	margin:0 auto;
	padding-top:25px;}
.danyeshow_left{
	float:left;
	width:223px;}
.danyeshow_left_1{}
.danyeshow_left_1 h5{
	font-family:"Microsoft YaHei";
	font-size:20px;
	color:#444444;
	line-height:30px;
	padding-left:15px;
	font-weight:normal;
	background:url(../web5/lmfl.png) no-repeat center left;
	border-bottom:1px solid #DEDEDE;}
.danyeshow_left_1 ul{
	padding-top:8px;}
.danyeshow_left_1 ul li{
	list-style:none;
	height:45px;
	line-height:45px;
	text-align:center;}
.danyeshow_left_1 ul li a{
	font-family:"Microsoft YaHei";
	font-size:16px;
	color:#444444;
	text-decoration:none;
	display:block;
	border-bottom:1px solid #E9E9E9;
	background:url(../web5/ico_2.png) no-repeat 12px center;}
.danyeshow_left_1 ul li a:hover{
	border-bottom:1px solid #88C7AE;
	background:url(../web5/ico_3.png) no-repeat 12px center;}
.danyeshow_left_2{
	margin-top:28px;}
.danyeshow_left_2 h5{
	font-family:"Microsoft YaHei";
	font-size:20px;
	color:#444444;
	line-height:30px;
	font-weight:normal;
	padding-left:15px;
	background:url(../web5/lmfl.png) no-repeat center left;
	border-bottom:1px solid #88C7AE;}
.danyeshow_left_2_1{
	padding-top:25px;}
.danyeshow_left_2_1 p{
	font-family:"Microsoft YaHei";
	font-size:14px;
	color:#44;
	line-height:30px;}
.danyeshow_left_2_1 p font{
	color:#f57509}
.danyeshow_left_3{
	margin-top:25px;
	width:223px;
	height:78px;
	}
.danyeshow_left_3 img{
	width:223px;
	height:78px;}
.danyeshow_right{
	width:858px;
	float:right;}
.danyeshow_right_1{
	line-height:30px;
	border-bottom:1px solid #DEDEDE;}
.danyeshow_right_1_left h5{
	float:left;
	font-family:"Microsoft YaHei";
	font-size:20px;
	color:#444444;
	padding-left:15px;
	font-weight:normal;
	background:url(../web5/lmfl.png) no-repeat center left;}
.danyeshow_right_1_right{
	float:right;}
.danyeshow_right_1_right a{
	font-family:"Microsoft YaHei";
	font-size:14px;
	color:#676767;
	text-decoration:none;}
.danyeshow_right_2_1{
	margin-top:45px;
	text-align:center;}
.danyeshow_right_2_2{
	margin-top:20px;
	padding-left:38px;
	padding-right:40px;}
.danyeshow_right_2_2 p{
	line-height:30px;
	font-family:"Microsoft YaHei";
	font-size:14px;
	color:#444444;}
/***********************products_list***************************/
.products_list ul{
	width: 900px;
}
.products_list ul li{
	width:190px;
	list-style:none;
	float:left;
	margin-right:30px;
	margin-top:20px;
	margin-bottom:10px;
	border:1px solid #E5E5E5;}
.products_list ul li a img{
	width:190px;
	height:140px;}
.products_list ul li p{
	font-family:"Microsoft YaHei";;
	font-size:14px;
	color:#1D1D1D;
	text-align:center;
	height:40px;
	line-height:40px;
	padding-top:5px;}
.page{
	margin-top:85px;
	text-align:center;}
.page a{
	font-family:"Microsoft YaHei";
	font-size:12px;
	color:#555555;
	text-decoration:none;
	margin-right: 8px;}
/**********************products_show***********************/
.products_show{
	}
.products_show_1{
	margin-top:50px;
	margin-left:168px;}
.products_show1{
	}
.products_show1 h5{
	font-family:"Microsoft YaHei";
	font-size:20px;
	color:#555555;
	font-weight:normal;
	padding-left:30px;
	margin-bottom:20px;
	background:url(../web5/ico_2.png) no-repeat center left;}
.products_show2{
	max-width: 600px;
	}
.products_show2 img{
	max-width: 600px;
	border:1px solid #ECECEC;}
.products_show_2{
	width:712px;
	margin:0 auto;
	margin-top:70px;}
.products_show_2_1{
	padding-bottom:13px;
	background:url(../web5/xmbj.png) no-repeat center bottom;
	font-family:"Microsoft YaHei";
	font-size:16px;
	color:#555555;}
.products_show_2_2{
	line-height:30px;
	font-family:"宋体";
	font-size:12px;
	color:#555555;}
.products_show_2_3{
	margin-top:20px;}
.products_show_2_3 a{
	line-height:30px;
	font-family:"宋体";
	font-size:12px;
	color:#555555;
	text-decoration:none;}
/***********************************news_list****************************/
.news_list{}
.news_list ul{
	padding-top:18px;}
.news_list ul li{
	list-style:none;
	height:30px;
	line-height:30px;
	font-family:"宋体";
	font-size:12px;
	color:#555555;
	text-align:right;
	padding-left:15px;
	padding-right:15px;
	border-bottom:1px dashed #B1B1B1;}
.news_list ul li a {
	float:left;
	font-family:"宋体";
	font-size:12px;
	color:#555555;
	text-decoration:none;}
.news_list ul li a:hover{
	color:#F68424;}
/******************************news_show*********************************/
.news_show{
	width:735px;
	margin-left:40px;
	margin-top:30px;
	font-family:"宋体";
	font-size:12px;
	color:#555555;
	line-height:30px;}
.news_show h5{
	font-family:"Microsoft YaHei";
	font-size:22px;
	color:#444444;
	font-weight:normal;
	line-height:30px;
	text-align:center;}
.news_show .p1{
	text-align:center;
	font-family:"宋体";
	font-size:12px;
	color:#555555;
	line-height:35px;}
.news_show img{
	padding-top:45px;
	padding-bottom:32px;}
/********************************gbook***********************************/
.gbook{
	margin-top:32px;}
.gbook table{
	width:425px;
	margin:0 auto;}
.gbook table tr{}
.gbook table tr td{
	font-family:"宋体";
	font-size:14px;
	color:#3b3b3b;
	padding-top:10px;}
.gbook table tr .td1{
	text-align:right;}
.gbook table tr td input{
	width:344px;
	height:30px;
	line-height:30px;
	border:1px solid #C3C3C3;
	background:#F0F0F0;
	border-radius:5px;}
.gbook table tr td textarea{
	width:344px;
	height:170px;
	line-height:30px;
	border:1px solid #C3C3C3;
	background:#F0F0F0;
	border-radius:5px;}
.gbook table tr td .input1{
	margin-left:60px;
	width:89px;
	height:30px;
	border:0;
	background:url(../web5/tj.png) no-repeat center;}
.gbook table tr td .input2{
	margin-left:30px;
	width:89px;
	height:30px;
	border:0;
	background:url(../web5/cz.png) no-repeat center;}
	
	
	
/********************************banner******************************/
#tFocus-btn li.active, #tFocus-leftbtn, #tFocus-rightbtn, .gamePrev, .sotfPrev, .gameNext, .sotfNext, .nav_box ul.nav .on a { display: block; }
/* link css */
.prev{ position:absolute; bottom:40px; left:10px; z-index:8888;}
.next{ position:absolute; bottom:40px; right:8px; z-index:8888;}
#tFocus { width: 1200px; height: 507px; background: #DDD; overflow: hidden; position:relative; }
#tFocus-pic { width: 1200px; height:507px; position: relative; }
#tFocus-pic li { width: 1200px; height: 507px; position: absolute; left: 0; top: 0; filter:alpha(opacity:0);
opacity: 0; }
#tFocus-pic li img{ width: 1200px; height: 507px;}
#tFocusBtn { width: 1200px; height: 110px; padding-left: 5px; margin-top: 5px; z-index: 20; overflow: hidden; position:absolute; bottom:0px; left:0; }
#tFocus-btn { width: 1130px; height: 110px; position: relative; left:15px; overflow: hidden; float: left; margin-right: 3px;}
#tFocus-btn ul { width: 100000px; position: absolute; left: 0; top:0; }
#tFocus-btn li { height: 92px; width: 278px; padding-top: 7px; display: block; float: left; margin-right: 5px; }
#tFocus-btn li img { width:273px; height:92px;}
#tFocus-btn li.active { background-position: -448px -100px; }
#tFocus-btn li.active img { }
#tFocus-leftbtn, #tFocus-rightbtn { height: 40px; margin-top: 18px; width: 15px; float: left; text-indent: -9999px; }
#tFocus-leftbtn { margin-right: 5px; background-position: -455px -60px; }
#tFocus-rightbtn { background-position: -480px -60px; }

/****************************************成功案例*****************************************/

#proRoll_1 {
	width:1138px;
	margin:0 auto;
}
#proRoll_1 ul {
	
}
#proRoll_1 ul li {
	width:291px;
	padding-bottom:12px;
	list-style:none;
	float:left;
	padding-right:17px;
}
#proRoll_1 ul li img {
	width:271px;
	height:249px;
	display:block;
}
#proRoll_1 ul li p {
	font-family:"Microsoft YaHei";;
	font-size:14px;
	color:#1D1D1D;
	text-align:center;
	height:57px;
	line-height:57px;
	padding-top:5px;
 }



/************************************************产品展示********************************************/
.mani11b {
	width:1138px;
	margin:0 auto;
}
.mani11b ul {
	
}
.mani11b ul li {
	width:210px;
	padding-top:25px;
	list-style:none;
	float:left;
	margin-right:44px;
	border:1px solid #E5E5E5;
}
.mani11b ul li img {
	width:200px;
	height:140px;
	display:block
}
 .mani11b ul li p {
	font-family:"Microsoft YaHei";;
	font-size:14px;
	color:#1D1D1D;
	text-align:center;
	height:57px;
	line-height:57px;
	padding-top:5px;
 }


.zxly table{}
.zxly table tr{}
.zxly table tr td{
	font-family:"微软雅黑";
	font-size:12px;
	color:#6f6f6f;
	height:42px;
	line-height:42px;
	padding-top:10px;}
.zxly table tr td .input1{
	width:280px;
	height:40px;
	line-height:40px;
	border:1px solid #E0E0E0;}
.zxly table tr td .input2{
	width:393px;
	height:40px;
	line-height:40px;
	border:1px solid #E0E0E0;}
.zxly table tr .td1{
	text-align:right;}
.zxly table tr td textarea{
	width:540px;
	height:168px;
	border:1px solid #E0E0E0;}
.zwmc{
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	color: #7F6F6F;
}
.yp{
	font-size: 16px;
	font-weight: bold;
	color:#999900;
}
.inp{ border:1px solid #eeeeee; height:40px; line-height: 40px; width:100px;}
.inp2{ border:1px solid #eeeeee; margin:3px;}
.inp3{ border:1px solid #eeeeee; height:30px;line-height:23px;padding:3px; cursor: pointer;}
.form1{
	margin-left: 50px;
}

.job_show1 h3{
	text-align: center;
	line-height: 30px;
	padding-bottom: 10px;
}
.job_show1 p{
	line-height: 28px;
	font-size: 14px;
	color: #010101;
	padding-left: 30px;
	padding-right: 30px;
}