/* CSS Document */

body { margin:0 auto; padding:0; line-height:24px; font-family:宋体; font-size:12px; background:#fff;
    border-top:10px solid #0f8ccc; 
}
div,ul,li,dt,dl,dd,h1,h2,h3,h4,h5,h6,h7,img,p,span{ border-style: none;
	border-color: inherit;
	border-width: 0px;
	padding: 0;
	list-style-type:none;
	margin-left: auto;
	margin-top: 0;
	margin-bottom: 0;
}



/* Link */
a:link { text-decoration:none;}
a:visited {text-decoration:none;}
a:hover { text-decoration:none;}
a:active { border:0px; background-color:Transparent;}

a{blr:expression(this.onFocus=this.blur());} 

.blank5{ width:100%; height:5px; clear:both;}
.blank10{ width:100%; height:10px; clear:both;}
.blank15{ width:100%; height:15px; clear:both;}
.blank20{ width:100%; height:20px; clear:both;}
.blank30{ width:100%; height:30px; clear:both;}
.blank40{ width:100%; height:40px; clear:both;}

/*Clear*/
.clear{ clear:both; font-size:1px; height:0px; line-height:0px; overflow:hidden;}/*可用height:1px; overflow:hidden;来控制IE6默认的div的高为12~14px,用BR来做吧，用DIV不太好用*/


.max{position:relative; overflow:hidden;}

#hdbox
{
    width:100%;
    height:auto;
    margin:0;
}

.hd_top
{
    width:1200px;
    height:110px;
    margin:0 auto;
}

.m_logo
{
    width:336px;
    height:88px;
    float:left;
    margin-top:10px;
}

    .m_logo a img
    {
        border:0;
    }

.m_tel
{
    width:auto;
    height:auto;
    float:right;
    margin-top:10px;
}

    .m_tel img
    {
        float:left; margin-top:5px; padding-right:5px;
    }

.m_tel h3
{
    width:auto;
    height:auto;
    float:left;
    font-family:微软雅黑;
    font-size:16px;
    color:#000;
    line-height:30px;
    text-align:left;
    font-weight:normal;
}
.m_tel h3 font
{
    width:auto;
    height:auto;
    float:left;
    font-family:Century Gothic;
    font-size:30px;
    color:#000;
    line-height:30px;
    text-align:left;
    font-weight:bold;
}

.navbox
{
    width:100%;
    height:53px;
    margin:0;
    background:#fafafa;
}


.navi
{
    width:1200px;
    height:53px;
    margin:0 auto;
    overflow:hidden;
}
    .navi ul li
    {
        width:130px;
        height:53px;
        float:left;
        font-family:微软雅黑;
        font-size:16px;
        color:#808080;
        line-height:53px;
        text-align:center;
        font-weight:normal;
    }
    
    .navi ul li a.fhov
        {
        width:140px;
        height:53px;
        float:left;
        font-family:微软雅黑;
        font-size:16px;
        color:#343434;
        background:#f3f3f3;
        line-height:53px;
        text-align:center;
        font-weight:normal;
        }
		 
    .navi ul li a.fhov img{
            float:left;
            margin-left:35px; margin-top:24px; padding-right:5px;}
    .navi ul li a.fhov:hover
        {
        width:140px;
        height:53px;
        float:left;
        font-family:微软雅黑;
        font-size:16px;
        color:#343434;
        background:#f3f3f3;
        line-height:53px;
        text-align:center;
        font-weight:normal;
        }
        .navi ul li a.fhov img
        {
            float:left;
            margin-left:35px; margin-top:14px; padding-right:5px;
        }
    .navi ul li a
    {
        width:140px;
        height:53px;
        float:left;
        font-family:微软雅黑;
        font-size:16px;
        color:#808080;
        line-height:53px;
        text-align:center;
        font-weight:normal;
    }
        .navi ul li a:hover
        {
            width: 140px;
            height: 53px;
            float: left;
            font-family: 微软雅黑;
            font-size: 16px;
            color:#343434;
            background:#f3f3f3;
            line-height: 53px;
            text-align: center;
            font-weight: normal;
        }
        .navi ul li a.nhov
        {
            width: 140px;
            height: 53px;
            float: left;
            font-family: 微软雅黑;
            font-size: 16px;
            color:#343434;
            background:#f3f3f3;
            line-height: 53px;
            text-align: center;
            font-weight: normal;
        }

.m_banner
{
    width:1920px;
    height:508px;
    position:relative;
    z-index:9;
top:0;
	left:50%;
	margin-left:-952px;
	*margin-left:-952px;
	_margin-left:-952px;
   overflow:hidden;
}

.s_banner
{
    width:1920px;
    height:310px;
    position:relative;
    z-index:9;
top:0;
	left:50%;
	margin-left:-952px;
	*margin-left:-952px;
	_margin-left:-952px;
   overflow:hidden;
}

        #banmax
        {
            position: relative;
            width: 100%;
            height: 310px;
            overflow: hidden;
            margin:0 auto;
        }
        #banmax a
        {
            color: #333;
        }
        #banmax *
        {
            border: 0;
            padding: 0;
            margin: 0;
        }
        #banmax .Limg
        {
            position: relative;
        }
        #banmax .Limg li
        {
            position: absolute;
            top: 0;
            left: 0;
            background: #fff;
        }
        #banmax .Limg li img
        {
            border: 1px solid #FFFFFF;
            margin: 0;
        }
        #banmax .Nubbt
        {
            position: absolute;
            z-index: 9;
            right: 13%;
            bottom:20px;
            line-height: 25px;
        }
        #banmax .Nubbt span
        {
            background: #dfdfdf;
            width:38px;
            height:10px;
            float:left;
            color:#dfdfdf;
            margin-right:5px;
            font-style: normal;
            cursor: pointer;
            text-indent:-9999px;
        }
        #banmax .Nubbt span.on
        {
            background: #fff;
            color: #fff;
            text-indent:-9999px;
        }
.m_max
{
    width:100%;
    height:auto;
    margin:0;
}



.m_index
{
    width:1200px;
    height:auto;
    margin:0 auto;
}


.m_abo
{
    width:390px;
    height:270px;
    float:left;
    background:url(../images/c_cent_bg.jpg) no-repeat right top;
}
.m_abo_box
{
    width:350px;
    height:270px;
    float:left;
}
.m_abo_cokk
{
    width:350px;
    height:30px;
    float:left;
    background:#0f8ccc;
}

    .m_abo_cokk h3
    {
        float:left;
         margin-left:20px;
         font-family:微软雅黑;
         font-size:14px;
         color:#fff;
         line-height:30px;
         font-weight:normal;
    }
    .m_abo_cokk h3 font
    {
         font-family:Arial;
         font-size:14px;
         color:#fff;
         line-height:30px;
         font-weight:normal;
         text-transform:uppercase;
    }

.m_abo_con
{
    width:307px;
    height:180px;
    float:left;
    margin-left:22px;
    margin-top:20px;
    font-size:12px;
    color:#818181;
    line-height:25px;
}

    .m_abo_con img
    {
        border:none;
    }


.m_abo_more
{
    width:350px;
    height:20px;
    float:left;
    position:relative;
    background:url(../images/abo_tbg.jpg) no-repeat left top;
}


    .m_abo_more a
    {
        float:left;
        right:0;
        position:absolute;
    }
        .m_abo_more a img
        {
            border:none;
        }



.m_news_box
{
    width:350px;
    height:270px;
    float:left; margin-left:20px; position:relative; z-index:10;
}

    .m_news_box1 a
    {
        float:left; 
        left:300px;
        position:relative; z-index:20; margin-top:-20px;
    }
        .m_news_box1 a img
        {
            border:none;
        }


/*
    width:307px;
    height:180px;*/

.casBox{width:350px; height:220px; float:left; background:url(../images/abo_tbg.jpg) no-repeat left bottom;  overflow:hidden; padding:0; margin:0; padding-left:20px; position:relative;}
.casBox .LeftBotton{height:19px;width:19px;background:#333 url(../images/lef1.jpg) no-repeat left top; position:absolute; z-index:9; overflow:hidden;float:left;display:inline; left:0; top:200px; cursor:pointer;}
.casBox .RightBotton{height:19px;width:19px;background:#999 url(../images/righ1.jpg) no-repeat left;overflow:hidden;float:left;display:inline; position:absolute; z-index:9; left:20px; top:200px; cursor:pointer;}
.casBox .Cast{width:310px;overflow:hidden;float:left;}
.casBox .ScrCast{width:10000000px;}
.casBox .Cast .Casepic{width:310px; height:180px; margin-top:20px;  float:left;text-align:center; overflow:hidden; position:relative;}

.casBox .Cast a:link,.casBox .Cast a:visited{color:#626466;text-decoration:none;}
.casBox .Cast a:hover{color:#000;text-decoration:none;}
.casBox #CaseLi1,.casBox #CaseLi2{float:left;}


.c_list
{
    width:300px;
    height:180px;
    float:left; 
}
    .c_list ul li
    {
    width:300px;
    height:auto;
    float:left; position:relative;
    }

    .c_list ul li a
    {
    width:270px;
    height:auto;
    float:left;
    background:url(../images/d1.jpg) no-repeat left 8px; padding-left:10px;
    font-size:12px;
     color:#818181; line-height:22px; text-align:left; font-weight:normal; 
    }
        .c_list ul li a:hover
        {
            color:#000;
            text-decoration:none;
        }


.m_conta
{
    width:390px;
    height:270px;
    float:right;
    background:url(../images/c_cent_bg.jpg) no-repeat left top;
}



.m_conta_box
{
    width:350px;
    height:270px;
    float:right;
}
.m_conta_cokk
{
    width:350px;
    height:30px;
    float:left;
    background:#0f8ccc;
}

    .m_conta_cokk h3
    {
        float:left;
         margin-left:20px;
         font-family:微软雅黑;
         font-size:14px;
         color:#fff;
         line-height:30px;
         font-weight:normal;
    }
    .m_conta_cokk h3 font
    {
         font-family:Arial;
         font-size:14px;
         color:#fff;
         line-height:30px;
         font-weight:normal;
         text-transform:uppercase;
    }

.m_conta_con
{
    width:307px;
    height:180px;
    float:left;
    margin-left:22px;
    margin-top:20px;
    font-size:12px;
    color:#818181;
    line-height:25px;
}

    .m_conta_con img
    {
        border:none;
    }


.m_conta_more
{
    width:350px;
    height:20px;
    float:left;
    position:relative;
    background:url(../images/abo_tbg.jpg) no-repeat left top;
}


    .m_conta_more a
    {
        float:left;
        right:0;
        position:absolute;
    }
        .m_abo_more a img
        {
            border:none;
        }

.m_pro_index
{
    width:100%;
    height:auto;
    margin:0 auto;
    padding-top:20px;
    padding-bottom:20px;
    border-top:1px solid #dcdcdc;
    background:#fbfbfb;
    overflow:hidden;
}


.m_case_box
{
    width:1200px;
    height:240px;
    margin:0 auto;
    overflow:hidden;
}


.m_case_cokk
{
    width:225px;
    height:200px;
    float:left;
}
    .m_case_cokk h3
    {
    width:225px;
    height:30px;
        float:left;
         font-family:微软雅黑;
         font-size:18px;
         color:#3c4247;
         line-height:30px;
         font-weight:normal;
    }
    .m_case_cokk h3 font
    {
         font-family:Arial;
         font-size:18px;
         color:#3c4247;
         line-height:30px;
         font-weight:normal;
         text-transform:uppercase;
    }
    
    .m_case_cokk h4
    {
    width:225px;
    height:130px;
        float:left;
         font-size:12px;
         color:#444444;
         line-height:30px;
         font-weight:normal;
    }
    .m_case_cokk h5
    {
        width:225px;
        height:30px;
        float:left;
    }
        .m_case_cokk h5 a img
        {
            float:left; border:none;
        }

#n{margin:0; width:960px; font-size:14px; line-height:30px;}
#n a{ padding:0 4px; color:#333}
.con{overflow:hidden; margin:0; float:right; width:960px; height:auto; padding:0; overflow:hidden;} 
#carousel_container{position:relative; height:230px; overflow:hidden;} 
#carousel_inner{width:950px; height:225px; overflow: hidden; position:absolute;left:25px; top:0;} 
#left_scroll{position: absolute;left:910px;top:0;width:20px;height:20px;cursor: pointer; background:url(../images/lf1.jpg) no-repeat left top; z-index:50;} 
#right_scroll{position: absolute;top:0;right:5px; width: 20px;height:20px;cursor: pointer;background:url(../images/rg1.jpg) no-repeat left top;} 
#carousel_ul{width:9999px; height:190px; position:relative; margin-top:30px;} 
#carousel_ul li{float: left;width:215px; height:186px; border:solid 1px #ccc; margin-right:20px; display:inline;} 
#carousel_ul li a img{width:215px; height:186px; float:left; position:relative; }
    #carousel_ul li a p
    {
        width:215px;
        height:38px;
        float:left;
        position:absolute;
        z-index:30;
        margin-top:148px;
        background:url(../images/pic_bg.png) repeat-x left top;
        text-align:center;
         font-family:微软雅黑;
         font-size:14px;
         color:#fff;
         line-height:30px;
         font-weight:bold;
    }



.m_prod_box
{
    width:1200px;
    height:280px;
    margin:0 auto;
    overflow:hidden;
}

.m_prod_cokk
{
    width:1200px;
    height:30px;
    float:left;
    background:url(../images/p_cok.jpg) no-repeat right 10px;
}

    .m_prod_cokk h3
    {
    width:225px;
    height:30px;
        float:left;
         font-family:微软雅黑;
         font-size:18px;
         color:#3c4247;
         line-height:30px;
         font-weight:normal;
    }
    .m_prod_cokk h3 font
    {
         font-family:Arial;
         font-size:18px;
         color:#3c4247;
         line-height:30px;
         font-weight:normal;
         text-transform:uppercase;
    }

.p_list
{
    width:278px;
    height:209px;
    float:left; margin-right:30px; margin-top:20px;
    background:url(../images/pro_bg.jpg) no-repeat left top;
}

.p_list_pic
{
    width:272px;
    height:172px;
    float:left;
    margin-left:1px;
    margin-top:1px;
    overflow:hidden;
}
    .p_list_pic a img
    {
        border:0;
    }


.p_list_ptxt
{
    width:272px;
    height:30px;
    float:left;
    margin-top:2px;
    margin-left:1px;
    overflow:hidden;
}

    .p_list_ptxt a
    {
    width:272px;
    height:30px;
    float:left;
    text-align:center;
         font-family:微软雅黑;
         font-size:16px;
         color:#fff;
         line-height:30px;
         font-weight:normal;
    }



.s_type
{
    width:277px;
    height:auto;
    float:left;
}


.s_type_cokk
{
    width:275px;
    height:30px;
    float:left;
    background:#0f8ccc;
}

    .s_type_cokk h3
    {
        float:left;
         margin-left:20px;
         font-family:微软雅黑;
         font-size:16px;
         color:#fff;
         line-height:30px;
         font-weight:normal;
    }

.s_type_list
{
    width:273px;
    height:auto;
    float:left;
    margin-top:1px;
}  
.s_type_list ul li
    {
        width:273px;
        height:auto;
        float:left;
    }

    .s_type_list ul li a
    {
        width:274px;
        height:33px;
        float:left;
        background:#dfdfdf;
        border:1px solid #fff;
        text-align:center;
        font-family:微软雅黑;
        font-size:16px;
        color:#5c5c5c;
        font-weight:normal;
        line-height:33px;
    }
    .s_type_list ul li a:hover
    {
        width:273px;
        height:33px;
        float:left;
        background:#fff;
        border:1px solid #b8b8b8;
        text-align:center;
        font-family:微软雅黑;
        font-size:16px;
        color:#3f3f3f;
        font-weight:bold;
        line-height:33px;
    }
    .s_type_list ul li a.shov
    {
        width:273px;
        height:33px;
        float:left;
        background:#fff;
        border:1px solid #b8b8b8;
        text-align:center;
        font-family:微软雅黑;
        font-size:16px;
        color:#3f3f3f;
        font-weight:bold;
        line-height:33px;
    }


    
.s_type_conta
{
    width:275px;
    height:auto;
    float:left;
}
.s_type_conta_cokk
{
    width:275px;
    height:30px;
    float:left;
    background:#0f8ccc;
}

    .s_type_conta_cokk h3
    {
        float:left;
         margin-left:20px;
         font-family:微软雅黑;
         font-size:16px;
         color:#fff;
         line-height:30px;
         font-weight:normal;
    }
    .s_type_conta_cokk h3 font
    {
         font-family:Arial;
         font-size:16px;
         color:#fff;
         line-height:30px;
         font-weight:normal;
         text-transform:uppercase;
    }

.s_type_conta_con
{
    width:275px;
    height:auto;
    float:left;
    margin-top:20px;
    padding-bottom:20px;
    font-size:12px;
    color:#818181;
    line-height:25px;
}

    .s_type_conta_con img
    {
        border:none;
    }


.s_type_conta_more
{
    width:275px;
    height:20px;
    float:left;
    position:relative;
    background:url(../images/abo_tbg.jpg) no-repeat left top;
}


    .s_type_conta_more a
    {
        float:left;
        right:0;
        position:absolute;
    }
        .s_type_conta_more a img
        {
            border:none;
        }


.s_right
{
    width:905px;
    height:auto;
    float:right;
    overflow:hidden;
}

.s_right_cokk
{
    width:905px;
    height:30px;
    float:left;
    border-bottom:1px solid #0f8ccc;
    overflow:hidden;
}
    .s_right_cokk h3
    {
    height:30px;
        float:left;
         font-family:微软雅黑;
         font-size:16px;
         color:#434343;
         line-height:30px;
         font-weight:bold;
    }
    .s_right_cokk h3 font
    {
         font-family:Arial;
         font-size:16px;
         color:#434343;
         line-height:30px;
         font-weight:normal;
         text-transform:uppercase;
    }
    .s_right_cokk h4
    {
    height:30px;
        float:right;
         font-family:微软雅黑;
         font-size:12px;
         color:#434343;
         line-height:30px;
         font-weight:normal;
    }
    .s_right_cokk h4 a
    {
         font-family:微软雅黑;
         font-size:12px;
         color:#434343;
         line-height:30px;
         font-weight:normal;
    }


.s_rig_abo
{
    width:880px;
    height:auto;
    float:left;
    margin-left:10px;
    margin-top:25px;
    font-size:14px;
    color:#686868;
    line-height:30px;
    text-align:left;
}

    .s_rig_abo img
    {
        padding:1px;
        border:1px solid #a6a6a6;
    }



.news_list{width:880px; height:auto; float:left; margin-left:10px; overflow:hidden;}
.news_list ul{width:880px; height:auto; overflow:hidden;}
.news_list ul li{width:880px; height:30px; float:left; border-bottom:1px dotted #666666; overflow:hidden;}
.news_list ul li a{width:750px; height:30px; float:left; background:url(../images/d2.jpg) no-repeat left 50%; padding-left:15px; font-family:宋体; font-size:14px; color:#686868; line-height:30px; text-overflow:ellipsis; overflow:hidden;}
.news_list ul li a:hover{width:750px; height:30px; float:left; background:url(../images/d3.jpg) no-repeat left 50%;  font-family:宋体; font-size:14px; color:#0b649e; line-height:30px;}
.news_list ul li span{float:right; font-family:微软雅黑; font-size:14px; color:#565656; line-height:30px; font-weight:normal;}



.s_rig_ncon
{
    width:880px;
    height:auto;
    float:left;
    margin-left:10px;
    margin-top:25px;
    font-size:14px;
    color:#686868;
    line-height:30px;
    text-align:left;
}
    .s_rig_ncon h3
    {
        width: 880px;
        height: auto;
        float: left;
        padding-top:5px;
        padding-bottom:5px;
         font-family:微软雅黑;
         font-size:18px;
         color:#232323;
         line-height:30px;
         font-weight:bold;
         text-align:center;
    }
    .s_rig_ncon h4
    {
        width: 880px;
        height: auto;
        float: left;
        padding-top:5px;
        padding-bottom:5px;
         font-family:宋体;
         font-size:12px;
         color:#666666;
         line-height:30px;
         font-weight:normal;
         text-align:center;
         border-bottom:1px solid #dee0e1;
    }
    .s_rig_ncon img
    {
        padding:1px;
        border:1px solid #a6a6a6;
    }







.s_rig_pro
{
    width:910px;
    height:auto;
    float:left; overflow:hidden;
}


.prodBox{width:276px;height:210px;float:left; margin-left:20px; _margin-left:5px; margin-top:20px; overflow:hidden;}
.imgBox {width:274px;height:172px;display: table-cell;line-height:170px;text-align:center;vertical-align:middle;*display: block;
         *font-size:170px; border:1px solid #c5c5cf; float:left; overflow:hidden;}
.imgBox img {vertical-align:middle;}
.imgBox:hover{width:274px;height:172px; border:1px solid #0f8ccc; float:left; overflow:hidden;}
.txtBox { width:274px; text-align:center; font-size:14px;height:40px;line-height:40px; float:left; overflow:hidden;}
.txtBox a{font-family:微软雅黑; font-size:14px; color:#58513e;}
.txtBox a:hover{ color:#000;}



.nTab{width:880px;margin:0; overflow:hidden}
.none {display:none;}
.nTab .TabTitle li{float:left;cursor:pointer;height:30px;line-height:30px;font-weight:bold;text-align:center; padding-left:20px; padding-right:20px;  position:relative; z-index:14;}
.nTab .TabTitle li a{text-decoration:none;}
.nTab .TabTitle .active{background:#0f8ccc;font-family:微软雅黑; font-size:14px; color:#fff; line-height:30px; font-weight:normal; border-bottom:none;}
.nTab .TabTitle .normal{background:#fff;font-family:微软雅黑; font-size:14px; color:#275186;line-height:30px; font-weight:normal; border-bottom:1px solid #d6d6d6; }
.nTab .TabContent{clear:both;overflow:hidden;float:left; width:880px; height:auto; border-top:1px solid #d6d6d6; display:block; position:relative; z-index:7; margin-top:-1px; padding-top:20px; font-size:14px;
    color:#686868; line-height:30px;
}

    .nTab .TabContent h3
    {
        float:left;
font-size:14px; color:#686868; line-height:30px; font-weight:normal;
    }
        .nTab .TabContent h3 img
        {
            float:left; margin-top:9px; padding-right:10px;
        }
    .nTab .TabContent h4
    {
        float:left;
font-size:14px; color:#686868; line-height:30px; font-weight:normal;
    }
        .nTab .TabContent h4 img
        {
            float:left; margin-top:9px; padding-left:10px; padding-right:3px;
        }
.nTab .TabContent_tu
{
    width:880px;
    height:auto;
    float:left;
    text-align:center;
}
    .nTab .TabContent_tu img
    {
        border:1px solid #c3c3c3;
    }

.s_rig_prod
{
    width:880px;
    height:auto;
    float:left;
    margin-left:10px;
    margin-top:10px;
}

.s_pleft
{
    width:340px;
    height:220px;
    float:left;
}
    .s_pleft img
    {
        border:1px solid #c3c3c3;
    }

.s_ptxt
{
    width:488px;
    height:auto;
    float:right;
         font-family:宋体;
         font-size:14px;
         color:#4c4c4c;
         line-height:30px;
         text-align:left;
         font-weight:normal;
}

.s_ptxt h3
{
    width:488px;
    height:30px;
    float:left;
         font-family:微软雅黑;
         font-size:16px;
         color:#0075b1;
         line-height:30px;
         text-align:left;
         font-weight:bold;
         margin-top:10px;
}


.caseBox{width:202px;height:210px;float:left; margin-left:20px; _margin-left:5px; margin-top:20px; overflow:hidden;}
.imgCase {width:200px;height:173px;display: table-cell;line-height:170px;text-align:center;vertical-align:middle;*display: block;
         *font-size:170px; border:1px solid #c5c5cf; float:left; overflow:hidden;}
.imgCase img {vertical-align:middle;}
.imgCase:hover{width:200px;height:173px; border:1px solid #0f8ccc; float:left; overflow:hidden;}
.txtCase { width:200px; text-align:center; font-size:14px;height:30px;line-height:30px; float:left; overflow:hidden; margin-top:10px;}
.txtCase a{font-family:微软雅黑; font-size:14px; color:#58513e;}
.txtCase a:hover{ color:#000;}


.Cbox
{
    width:880px;
    height:auto;
    float:left;
    text-align:center;
}
    .Cbox img
    {
        border:1px solid #a5a5a5;
    }

    .Cbox h3
    {
        width:880px;
        height:auto;
        float:left;
        font-family:微软雅黑;
        font-size:16px;
        color:#4f4f4f;
        line-height:30px;
        font-weight:bold;
    }

    
.s_join_box
{
    width:880px;
    height:auto;
    float:left;
}

.s_jtab_title
{
    width:878px;
    height:30px;
    float:left;
    border:1px solid #c5c5c5;
    border-left:none;
    background:#dcdcdc;
}

    .s_jtab_title h3
    {
        width:190px;
        height:30px;
        float:left;
    border-left:1px solid #c5c5c5;
    text-align:center;
    font-size:12px;
    color:#333333;
    line-height:30px;
    font-weight:normal;
    }

    .s_jtab_title h4
    {
        width:180px;
        height:30px;
        float:left;
    border-left:1px solid #c5c5c5;
    text-align:center;
    font-size:12px;
    color:#333333;
    line-height:30px;
    font-weight:normal;
    }


    .s_jtab_title h5
    {
        width:250px;
        height:30px;
        float:left;
    border-left:1px solid #c5c5c5;
    text-align:center;
    font-size:12px;
    color:#333333;
    line-height:30px;
    font-weight:normal;
    }


.s_jtab_list
{
    width:878px;
    height:30px;
    float:left;
    border:1px solid #c5c5c5;
    border-left:none;
    border-top:none;
    background:#fff;
}

    .s_jtab_list h3
    {
        width:190px;
        height:30px;
        float:left;
    border-left:1px solid #c5c5c5;
    text-align:center;
    font-size:12px;
    color:#333333;
    line-height:30px;
    font-weight:normal;
    }
    .s_jtab_list h3 a
    {
        width:190px;
        height:30px;
        float:left;
    text-align:center;
    font-size:12px;
    color:#333333;
    line-height:30px;
    font-weight:normal;
    text-decoration:none;
    }
    .s_jtab_list h3 a:hover
    {
        width:190px;
        height:30px;
        float:left;
    text-align:center;
    font-size:12px;
    color:#000;
    line-height:30px;
    font-weight:normal;
    text-decoration:underline;
    }
    

    .s_jtab_list h4
    {
        width:180px;
        height:30px;
        float:left;
    border-left:1px solid #c5c5c5;
    text-align:center;
    font-size:12px;
    color:#333333;
    line-height:30px;
    font-weight:normal;
    }


    .s_jtab_list h5
    {
        width:250px;
        height:30px;
        float:left;
    border-left:1px solid #c5c5c5;
    text-align:center;
    font-size:12px;
    color:#333333;
    line-height:30px;
    font-weight:normal;
    }

.s_right_human
{
    width:880px;
    height:auto;
    float:left;
    background:url(../images/join1.jpg) no-repeat right 10px;
    padding-bottom:20px;
}

.s_rig_hum_txt
{
    width:480px;
    height:auto!important;
    min-height:600px;
    float:left;
    font-family:微软雅黑;
    font-size:14px;
    color:#565656;
    line-height:30px;
}

    .s_rig_hum_txt h3
    {
    width:480px;
    height:auto;
    float:left;
    font-family:微软雅黑;
    font-size:16px;
    color:#3d3d3d;
    line-height:30px;
    text-align:left;
    }   
.s_rig_hum_txt h3 img
    {
    float:left;
    margin-left:5px;
    margin-top:10px;
    padding-right:5px; border:none;
    }


.s_mess
{
    width:880px;
    height:auto;
    float:left; margin-left:10px; overflow:hidden;
}


.mstab1
{
    width:80px;
    height:30px;
    float:left;
    font-family:微软雅黑;
    font-size:14px;
    color:#222222;
    line-height:30px;
    margin-top:20px;
}


.mstab2
{
    width:780px;
    height:auto;
    float:left;
    margin-top:20px;
}

    .mstab2 font
    {
        float:left; padding-left:10px; line-height:30px; color:#da0116;
    }

.ts1
{
    width:200px;
    height:30px;
    float:left;
    padding-left:10px;
    line-height:30px;
    border:1px solid #979797;
    background:#fff;
    overflow:hidden;
}

.ts2
{
    width:600px;
    height:140px;
    float:left;
    padding-left:10px;
    line-height:30px;
    border:1px solid #979797;
    background:#fff;
    overflow:hidden;
}

.ts3
{
    float:left;
    margin-right:10px;
    line-height:30px;
    border:1px solid #979797;
    background:#fff;
    overflow:hidden;
}

.ts4
{
    width:46px;
    height:30px;
    float:left;
    padding-left:10px;
    line-height:30px;
    border:1px solid #979797;
    background:#fff;
    overflow:hidden;
}


.ts5
{
    float:left;
    margin-top:10px;
    margin-right:20px;
    overflow:hidden;
}







/*fanye*/
.s_fanye
{
    width:880px;
    height:auto;
    float:left;
    text-align:center;
     overflow:hidden;
}
DIV.quotes {
	PADDING: 3px; MARGIN: 3px; PADDING-TOP: 3px; TEXT-ALIGN:center;
}
DIV.quotes A {
 padding-left:10px; padding-right: 10px; padding-top:5px; padding-bottom:5px; font-family:Arial; font-size:16px; COLOR: #fff; MARGIN-RIGHT:8px; TEXT-DECORATION: none; BACKGROUND:#c5c5cf;
}
DIV.quotes A:hover {
 padding-left:10px; padding-right: 10px; padding-top:5px; padding-bottom:5px; MARGIN-RIGHT:8px;  BACKGROUND:#0f8ccc;  font-family:Arial; font-size:16px; COLOR: #fff;}
DIV.quotes A:active {
 padding-left:8px; padding-right: 8px; padding-top:5px; padding-bottom:5px; MARGIN-RIGHT: 8px; BACKGROUND:#0f8ccc;  font-family:Arial; font-size:16px; COLOR: #fff;}
DIV.quotes SPAN.current {
 padding-left:10px; padding-right: 10px; padding-top:5px; padding-bottom:5px;  font-family:Arial; font-size:16px; COLOR: #fff; MARGIN-RIGHT:8px; BACKGROUND:#0f8ccc;
}
DIV.quotes SPAN.disabled {
 padding-left:8px; padding-right: 8px; padding-top:5px; padding-bottom:5px;  font-family:Arial; font-size:16px; COLOR: #fff; MARGIN-RIGHT: 8px; BACKGROUND:#c5c5cf;}



.s_fenye
{
    width:880px;
    height:auto;
    float:left;
    padding-top:20px;
    text-align:center;
    border-top:1px solid #dee0e1;
     overflow:hidden;
}
.s_fan1{width:600px; height:auto; float:left; }


.s_fan1 a{width:75px; height:28px; float:left; margin-right:10px; font-family:微软雅黑; font-size:14px; color:#6d6d6d; line-height:30px; font-weight:normal; border:1px solid #ccc; background:#fff;}

    .s_fan1 a:hover
    {
        width: 75px;
        height: 28px;
        float: left;
        font-family:微软雅黑;
        font-size: 14px;
        color: #ffffff;
        line-height: 30px;
        font-weight: normal;
        border: 1px solid #0f8ccc;
        background: #0f8ccc;
    }


.s_fan2{height:auto; float:right; }


.s_fan2 a{width:75px; height:28px; float:left; font-family:微软雅黑; font-size:14px; color:#6d6d6d; line-height:30px; font-weight:normal; border:1px solid #ccc; background:#fff;}

    .s_fan2 a:hover
    {
        width: 75px;
        height: 28px;
        float: left;
        font-family:微软雅黑;
        font-size: 14px;
        color: #ffffff;
        line-height: 30px;
        font-weight: normal;
        border: 1px solid #0f8ccc;
        background: #0f8ccc;
    }



/*foot*/
.Bot
{
    width:100%;
    height:45px;
    margin:0;
    background:#a7a7a7; overflow:hidden;
}
.Bot_txt
{
    width:1200px;
    height:45px;
    margin:0 auto;
         font-size:12px;
         color:#fff;
         line-height:30px;
         font-weight:normal;
         text-align:left;
    overflow:hidden;
}


